:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.hero h1 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
  font-size: 96px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 50px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: rgb(39, 33, 66);
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 24px;
}

.foo {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 20px;
}
.project {
  margin-top: 30px;
}
.learn-m {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 15px 10px;
  color: var(--branding-color);
}
#yogurt-img {
  max-width: 500px;
}
#projects {
  font-size: 35px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.about-h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
}
.about-h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  color: black;
  font-weight: bold;
}
.about-button {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 28px;
  line-height: 24px;
  padding: 10px 10px;
}
.about-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
.image-fluid {
  max-width: 500px;
}
.about-section {
  padding: 80px;
}
.content {
  text-align: center;
  padding: 100px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.content h2 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: black;
  font-weight: bold;
}
.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
  line-height: 30px;
  font-weight: normal;
}
.contact-content h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
}
a {
  color: #0d6efd;
  text-decoration: none;
}
.contact-content a:hover {
  color: var(--branding-color);
}
.contact-content {
  text-align: center;
  padding: 150px;
}
.contact-content p {
  line-height: 30px;
  font-size: 14px;
}
nav li {
  display: inline;
  line-height: 42px;

  list-style: none;
  margin: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-weight: bold;
}
nav {
  padding: 20px;
}
.logo {
  max-height: 40px;
}
nav li.active a {
  color: var(--branding-color);
}
.email-link {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.email-link:hover {
  color: var(--branding-color);
  text-decoration: none;
}

.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 50px 20px;
}
.contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
.contact-box h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 48px;
}
